/* font-family: 'Noto Sans', sans-serif;
font-family: 'Questrial', sans-serif; 
font-family: 'Open Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;

}

/* ------------------------- navbar ------------------------- */


#nav-bar {
    padding: 1.3% 5vh;
    background-color: #F2F3F5;
    /* border-radius: 0 0 5vh 5vh; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
}

.navbar {
    background-color: #F2F3F5;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans', sans-serif;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-main-head {
    font-size: 0.8rem;
}

.nav-sub-head {
    font-size: 0.6rem;
}

.right-nav {
    display: flex;
    align-items: center;
    grid-gap: 3vw;
}

.right-nav a {
    text-decoration: none;
}

.navbar-links {
    margin: 0;
    font-size: 0.75rem;
    color: #696969;
    transition: 0.3s ease-out;
}

.navbar-links:hover {
    color: #252525;
    transition: 0.3s ease-in;
    transform: scale(120%);
}

.cta {
    background: #2E8B57;
    color: #FFF;
    padding: 0.5vw 1.4vw;
    border-radius: 0.8vh;
    border: 2px solid #2E8B57;
    font-size: 0.7rem;
    transition: 0.3s ease-out;
}

.cta:hover {
    background: white;
    color: #2E8B57;
    transition: 0.3s ease-in;
}


/* ------------------------- navbar ------------------------- */


/* --------------------- #Home-page ------------------- */

#hm-pg{
    z-index: -1;
    background-image: url("images/mainBg.png");
    background-position: 50%;
    background-size: cover;
}

.s1-cont {
    padding: 18% 0 20% 0;
    display: flex;
    justify-content: space-between;
}

.s1-right-pane {
    transform: rotate(180deg);
}

.hm-m-pane-cont {
    /* margin: 20% 0 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hm-gdsc-logo {
    width: 20%;
}

.hm-main-head {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.g {
    color: #7d848b;
    font-size: 1.5rem;
    /* margin: 3% 0 0.5% 0; */
}

.s {
    color: #9a9c9f;
    font-size: 1.1rem;
}


/* --------------------- #Home-page ------------------- */

/* --------------------- #Hello-page ------------------- */

#hlw-pg {
    /* margin-top: 10em; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 24px, rgba(17, 17, 26, 0.1) 0px -16px 56px, rgba(17, 17, 26, 0.1) 0px -24px 80px;
}

.s2-bg {
    background-image: url("images/helloBg.png");
    background-position: 50%;
    background-size: cover;
    padding: 3%;

}

.s2-main-head {
    font-size: 2.7em;
    color: #252525;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.s2-main-des {
    color: #637282;
    margin: 8% 0 13% 0;
    /* padding-right: 12%; */
    line-height: 1.43vw;
    font-size: 1.06vw;
    font-family: 'Open Sans', sans-serif;
    /* letter-spacing: 0.0vw; */
    word-spacing: 2px;
}

.s2-km-btn {
    /* margin-top: 9%; */
    padding: 10px 30px;
    border-radius: 0.3rem;
    border: none;
    color: #FFFFFF;
    background-color: rgb(8, 173, 93);
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: 0.4s ease-out;
}

.s2-km-btn:hover {
    transition: 0.4s ease-in;
    background-color: rgb(13, 202, 111);
    box-shadow: rgba(0, 0, 0, 0.403) 0px 5px 15px;
}

.s2-col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2-in-cont {
    display: flex;
    justify-content: space-evenly;
}

.s2-col-w {
    max-width: 445px;
}

.s2-col-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* --------------------- #Hello-page ------------------- */


/*--------------------------- about ---------------------------*/

#about {
    padding: 0 10%;
}

.s3-in-cont {
    display: flex;
    justify-content: space-between;
}

.s3-col-2-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.s3-col-2-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*--------------------------- about ---------------------------*/



/* --------------------- #team ------------------- */

/*--------------------- lead ---------------------*/

.lead {
    background-color: #FCFCFC;
    border-radius: 1rem;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    margin: 10% 0 8% 0;
}

.lead-bg {
    background-image: url("images/leadBg.png");
    border-radius: 1rem;
    background-position: 50%;
    background-repeat: none;
    background-size: cover;
}

.lead-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lead-col-1 {
    padding: 0 5% 0 8%;
    font-family: 'Noto Sans', sans-serif;
}

.lead-post {
    color: #616161;
    font-size: 0.9rem;
    margin-bottom: 2%;
}

.lead-name {
    color: #252525;
    font-family: 'Open sans', sans-serif;
}

.lead-des {
    font-size: 0.8rem;
    margin: 7% 0 10% 0;
    line-height: 1.5;
    color: #888888;
}



/*--------------------- lead ---------------------*/

/* .msg-cont {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.team-msg {
    font-family: 'Open Sans', sans-serif;
} 

.team-msg h1 {
    font-size: 2.7rem;
    font-weight: 600;
}

.team-msg p {
    color: #637282;
    font-size: 0.9rem;
}

.team-mem {
    display: flex;
    justify-content: space-evenly;
}

.team-card {
    background-image: url("/images/cardBg.png");
    background-position: 50%;
    background-size: cover;
    width: 25%;
    min-width: 240px;
    /* max-height: max-content; */
    border-radius: 0.8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2% 1%;
}

.team-card-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 52%;
    /* padding: 5%; */
}

.out-bod {
    /* background-image: url("images/bg.webp"); */
    background-image: url("images/profileBg.png");
    background-position: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px solid rgb(150, 214, 150); */
    /* border-radius: 100%; */
    padding: 13%;
}

/* .mid-bod {
    border: 3px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
} */

.mem-pic {
    width: 100%;
    border-radius: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 3% 0;
}

.post {
    font-family: 'Noto Sans', sans-serif;
    color: #7d7d7d;
    font-size: 0.6rem;
    margin: 4% 0 2% 0;
    letter-spacing: 0.03rem;
}

.name {
    font-family: 'Questrial', sans-serif;
    color: #4a4a4a;
    font-size: 1.5rem;
    font-weight:bold;
    margin: 6% 0 4% 0;
}

.des {
    font-family: 'Noto Sans', sans-serif;
    color: #6c6c6c;
    font-size: 0.6rem;
    letter-spacing: 0.03rem;
    /* line-height: 0.8rem; */
    padding: 4% 15%;
}

.socials {
    font-size: 1.2rem;
    color: #252525;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: black;
    transition: 0.2s ease-out;
}

.logo:hover {
    opacity: 60%;
    transition: 0.2s ease-in;
}

.g-pic {
    display: flex;
    align-items: center;
    margin: 0 7%;
}

.g-pic-img {
    width:70px;
}


/*------------------------------ flashback ------------------------------*/

#flashback {
    margin: 6% 0 10% 0;
}

.f-bg {
    background-image: url("images/flashback_trail_bg.png");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    /* filter: blur(5px); */
    padding: 15% 0;
    box-shadow: rgba(0, 0, 0, 0.686) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.686) 0px 30px 60px -12px inset;
}

.f-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f-title h1 {
    font-size: 5rem;
    color: #FFF;
    font-family: 'Koh Santepheap', cursive;
    font-weight: 400;
}

.fl-hr {
    position: relative;
    width: 0;
    bottom: 12px;
    border: none;
    border-bottom: 3px solid #FFF;
    transition: 0.3s ease-out;
}

.f-title h1:hover hr {
    width: 90%;
    transition: 0.3s ease-in;
}

.f-title p {
    opacity: 80%;
    color: #FFF;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
}


/*------------------------------ flashback ------------------------------*/

/*----------------------------- footer -----------------------------*/

footer {
    background-color: rgb(25, 25, 25);
    color: azure;
    padding: 0 5%;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.foot-main-head {
    font-size: 1.6rem;
    font-family: 'Noto sans', sans-serif; 
    /* letter-spacing: 2px; */
}

.foot-main-des {
    font-family: 'Noto sans', sans-serif; 
    margin-top: 1%;
    
}

.foot-join {
    display: flex;
    align-items: center;
    grid-gap: 1vw;
    justify-content: center;
    font-family: 'Noto sans', sans-serif;
}

.foot-join-us {
    color: azure;
    font-size: 1.3rem;
}

.foot-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto sans', sans-serif;
}

.foot-in-socials {
    margin-top: 5%;
    display: flex;
    grid-gap: 2.5vw;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}

.foot-in-socials a {
    text-decoration: none;
    color: azure;
    transition: 0.3s ease-in;
}

.foot-in-socials a:hover {
    opacity: 60%;
    transition: 0.3s ease-out;
}

.foot-hr {
    width: 90%;
    opacity: 20%;
    border: none;
    border-bottom: 1px solid white;
}

.row-2 {
    display: flex;
    align-items: center;
    grid-gap: 1vw;
    justify-content: center;
    padding: 2%;
    font-family: 'Noto sans', sans-serif;
}

/*----------------------------- footer -----------------------------*/